<header>

  <mat-toolbar color="primary" style="background-color: #67C5C8;">
    <span style="color: black; font-weight: bold;">
      <a routerLink="/" style="color: black; text-decoration: none;">SaveUp</a>
    </span>
    <span class="example-spacer"  style="color: black; font-weight: bold;font-size: 20px;">Empresa</span>
  </mat-toolbar>
</header>
<main class="recover-password">
  <mat-card >
    <h1 style=" font-weight: bold;">Registrate</h1>

    <p style="color: white">

      <mat-form-field appearance="fill">
        <mat-label>Introduce tu correo electrónico</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
          <mat-label style="color: white">Nombre Empresa</mat-label>
          <input matInput placeholder="Placeholder"  [formControl]="name" style="color: white">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Requerido</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label style="color: white">RUC</mat-label>
          <input matInput placeholder="Placeholder" [formControl]="ruc" style="color: white">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Requerido</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label style="color: white">Direccion</mat-label>
          <input matInput placeholder="Placeholder"  [formControl]="address" style="color: white">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Requerido</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label style="color: white">Departamento</mat-label>
          <input matInput placeholder="Placeholder"  [formControl]="departament" style="color: white">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Requerido</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label style="color: white">Distrito</mat-label>
          <input matInput placeholder="Placeholder"  [formControl]="district" style="color: white">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Requerido</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label style="color: white">Número celular</mat-label>
          <input matInput placeholder="Placeholder"  [formControl]="phoneNumber" style="color: white">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Requerido</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label style="color: white">Contraseña</mat-label>
          <input matInput placeholder="Placeholder"  [formControl]="password" style="color: white">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Requerido</mat-hint>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
          <mat-label style="color: white">Repetir Contraseña</mat-label>
          <input matInput placeholder="Placeholder" [formControl]="confirmPassword" style="color: white">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Requerido</mat-hint>
        </mat-form-field>
    </p>
    
    <button mat-button style="background-color: #E95D5D;font-weight: bold" (click)="save()">Regístrate</button>
    <a class="registrarse"  routerLink="/check/in" style="color: black; font-weight: bold;">¿No tienes una cuenta? ¡Regístrate ahora!</a>
    <hr class="mi-linea">
    <a class="registrarseempresa"  routerLink="/check/company" style="color: black; font-weight: bold;">¿Eres una empresa? Da click aquí </a>

  </mat-card>
  
    
</main>








