.recover-password {
    background-size: 100%;
    background-position: center;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
   
 /*Estilos Toolbar*/
/* Estilos para pantallas grandes */
.example-spacer {
  font-size: 20px;
}
@media (min-width: 768px) {
  .mat-toolbar {
    padding-top: 30px;
    padding-left: 30px;
    height: 100px;
    line-height: 1;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

/* Estilos para pantallas pequeñas */
@media (max-width: 767px) {
  .mat-toolbar {
    padding-top: 10px;
    padding-left: 10px;
    height: 60px;
    line-height: 1;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  } 
  
  .example-spacer {
    font-size: 20px;
  }
}
.selected {
    border: 2px solid red; /* Estilo de borde para resaltar la imagen seleccionada */
  }
  .card-image {
    width: 100%; /* Hace la imagen ocupar todo el ancho disponible */
    max-width: 200px; /* Establece un ancho máximo para evitar que la imagen se estire demasiado en pantallas grandes */
    height: auto; /* Ajusta la altura de la imagen automáticamente */
    display: inline-block; /* Permite que las imágenes se muestren en línea y se centren horizontalmente */
    margin: 10px; /* Añade un margen alrededor de las imágenes para separarlas */
  }
  
  @media (min-width: 768px) {
    .card-image {
      max-width: 150px; /* Reduce el ancho máximo de las imágenes en pantallas más grandes */
    }
  }


/*Estilos Card*/
  mat-card {
    background-color: #201F34;
    max-width: 400px;
    height: 650px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
  }
  h1{
    font-size: 30px;
  }
  
  mat-form-field {
    padding-top: 5px;
    width: 350px;
  }
  
  .registrarse {
    padding-top: 30px;
    font-size: 15px;
  }
 .registrarseempresa{
  font-size: 15px;
 }
  .mi-linea {
    border: none;
    border-top: 3px solid grey;
    width: 90%;
    margin: 20px auto;
  }

  button{
    max-width: 300px;
    font-size: 15px;
  }


  /* Estilos para pantallas de 600px o menos */
@media (max-width: 600px) {
  mat-card {
    max-width: none;
    height: auto;
    padding: 10px;
  }
  
  mat-form-field {
    width: 100%;

  }
  
  .registrarse {
    padding-top: 10px;
  }
  
  .mi-linea {
    margin: 10px auto;
  }
  
  .recuperarcontraseña {
    padding-bottom: 10px;

  }
  
  button {
    max-width: 100%;
  }
}

/* Estilos para pantallas de 960px o menos */
@media (max-width: 960px) {
  h1{
    font-size: 25px;
  }
  mat-card {
    max-width: none;
    height: auto;
    width: 300px;
    padding: 10px;
    border-radius: 60px;
  }
  
  mat-form-field {
    width: 100%;
    
  }
  
  .registrarse {
    padding-top: 10px;
    font-size: 10px;

  }
  
  .mi-linea {
    margin: 10px auto;
  }
  
  .recuperarcontraseña {
    padding-bottom: 10px;
    font-size: 15px;
  }
  
  button {
    max-width: 100%;
  }
  .registrarseempresa{
    font-size: 10px;
  }

  
  .recover-password {
    background-size: 100%;
  }
}
