.disabled {
    pointer-events: none;
    opacity: 0.6;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .message-box {
    background-color: #201F34;
    padding: 70px;
    text-align: center;
    border-radius: 20px;
  }
  
  .message-box p {
    margin-bottom: 10px;
    font-size: 40px;
  }
  
  .message-box button {
    margin-right: 10px;
    font-size: 30px;
    width: 150px;
  }
  
  @media (max-width: 600px) {
    .message-box {
      padding: 30px;
    }
  
    .message-box p {
      font-size: 24px;
    }
  
    .message-box button {
      font-size: 20px;
      width: 120px;
    }
  }
  