<header>
  <mat-toolbar color="primary" style="background-color: #67C5C8;">
    <span style="color: black; font-weight: bold;">
      <a routerLink="/" style="color: black; text-decoration: none;">SaveUp</a>
    </span>
  </mat-toolbar>
</header>
<main class="recover-password">
  <mat-card >
    <h1 style=" font-weight: bold;">Recuperar contraseña</h1>

    <div class="example-container">
      
      <mat-form-field appearance="fill" >
        <mat-label>Introduce tu correo electrónico</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <button mat-button  style="background-color: #E95D5D; font-weight: bold" (click)="onSubmit()" routerLink="/login/session">Enviar enlace de recuperacion</button>
    <a class="registrarse"  routerLink="/check/in" style="color: black; font-weight: bold;">¿No tienes una cuenta? ¡Regístrate ahora!</a>
  </mat-card>
</main>



