
<div id="contact_form_div">
    <p id="contact_label">Agrega tu Tarjeta</p>
    <h3 style="color:white">Paga tus compras sin problemas</h3>
    <!-- #231d34 -->
    <img width="250px" src="https://e7.pngegg.com/pngimages/632/145/png-clipart-visa-visa.png">
    <form method="post" action="">
        <p><input style="text-align: center; border-radius: 15px;" type="text" placeholder="Nombre del Banco"></p>
        <p><input style="text-align: center; border-radius: 15px;" type="text" placeholder="Número de la Tarjeta"></p>
        <p><input style="text-align: center; border-radius: 15px;" type="text" placeholder="CVV"></p>

        <p><input style=" border-radius: 15px;" type="submit" value="┼   Agregar nueva Tarjeta"></p>
    </form>
</div>